body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f28ab2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 70vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding: 15px 15px;
  max-width: 400px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.container h2 {
  margin-bottom: 0;
}

.container button {
  background-color: #f28ab2;
  border-radius: 5px;
  border-color: transparent;
  width: 100%;
  padding: 5px;
  margin: 20px auto 0 auto;
  font-size: 15px;
  color: white;
}

.person {
  display: grid;
  grid-template-columns: auto 115px;
  column-gap: 15px;
  margin-bottom: 15px;
  align-items: center;
}

.person img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.person h4 {
  margin: 5px;
}

.person p {
  margin: 0 0 5px 5px;
  padding: 0px;
  color: gray;
}
